annotated-types
anyio
certifi
charset-normalizer
click
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
line_profiler
markdown-it-py
MarkupSafe
mdurl
numpy
orjson
packagin
panda
pandas
plotly
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
rich
setuptools
shellingham
six
sniffio
starlette
tenacity
typer
typing_extensions
tzdata
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
